<md-content>
	<div>
		<h1>Crear artículo</h1>
		<form name="articleForm" ng-submit="vm.ProcessForm()">
			<md-card>
				<md-card-content>
					<md-input-container class="md-block">
						<label>Título</label>
						<input ng-model="vm.article.title" required>
					</md-input-container>

					<md-input-container class="md-block">
						<label>Títulos alternativos</label>
						<md-chips
							ng-model="vm.article.alt_titles"
							readonly="vm.readonly"
							md-removable="vm.removable"
							placeholder="Añadir título alternativo"
							delete-button-label="Remove Tag"
							delete-hint="Press delete to remove tag"
							secondary-placeholder="+Tag"></md-chips>
					</md-input-container>

					<md-input-container class="md-block">
						<label>Cuerpo</label>
						<textarea ng-model="vm.article.body" md-maxlength="150" rows="5" md-select-on-focus required></textarea>
					</md-input-container>

					<md-input-container class="md-block">
						<label>Tags</label>
						<md-chips
							ng-model="vm.article.tags"
							readonly="vm.readonly"
							md-removable="vm.removable"
							placeholder="Añadir tag"
							delete-button-label="Remove Tag"
							delete-hint="Press delete to remove tag"
							secondary-placeholder="+Tag"></md-chips>
					</md-input-container>

				</md-card-content>
			</md-card>
			<div layout="row" layout-wrap>
				<div flex-gt-sm="50">
					<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
						<md-card-title>
							Zonas
						</md-card-title>
						<md-card-content>

							<div flex-xs flex="50">
								<md-checkbox aria-label="Select All"
											 ng-checked="isChecked('Zones')"
											 md-indeterminate="isIndeterminate('Zones')"
											 ng-click="toggleAll('Zones')">
									<span ng-if="isChecked('Zones')">Des-</span>Seleccionar todas
								</md-checkbox>
							</div>
							<div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in Zones">
								<md-checkbox aria-label="item.body"
											 ng-checked="exists(item, selectedZones)"
											 ng-click="toggle(item, selectedZones)">
									{{ item.body }}
								</md-checkbox>
							</div>

						</md-card-content>
					</md-card>
				</div>
				<div flex-gt-sm="50">
					<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
						<md-card-title>
							Categorias
						</md-card-title>
						<md-card-content>

							<div flex-xs flex="50">
								<md-checkbox aria-label="Select All"
											 ng-checked="isChecked('Categories')"
											 md-indeterminate="isIndeterminate('Categories')"
											 ng-click="toggleAll('Categories')">
									<span ng-if="isChecked('Categories')">Des-</span>Seleccionar todas
								</md-checkbox>
							</div>
							<div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in Categories">
								<md-checkbox aria-label="item.body"
											 ng-checked="exists(item, selectedCategories)"
											 ng-click="toggle(item, selectedCategories)">
									{{ item.body }}
								</md-checkbox>
							</div>

						</md-card-content>
					</md-card>
				</div>
			</div>

			<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
				<md-card-title>
					Imagenes
				</md-card-title>
				<div layout="row" layout-wrap>

                    <div flex-gt-sm="25"  ng-repeat="image in vm.article.images">

                        <md-card >
                            <img ng-src="{{image.url}}" class="md-card-image" alt="Washed Out">
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button ng-click="vm.deleteImage(image)">Eliminar</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
				</div>
				<md-card-content>
					<!--TODO: el selector de imágenes no está funcionando-->

					<lf-ng-md-file-input
						lf-drag-and-drop-label="Arrastra imagenes acá"
						accept="image/*" lf-placeholder="Seleccionar imagen" lf-browse-label="Buscar"
						lf-files="files"
						lf-on-file-click="onFileClick" preview drag multiple>

					</lf-ng-md-file-input>

				</md-card-content>
			</md-card>

			<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
				<md-card-title>
					Videos Youtube
				</md-card-title>

				<md-card-content>
					<md-input-container class="md-block" ng-if="youtubes.length">
						<md-chips
							ng-model="youtubes"
							readonly="vm.readonly"
							md-removable="true"
							md-item-text="item.youtubeID"
							placeholder="Añadir video"
							delete-button-label="Eliminar video"
							delete-hint="Press delete to remove tag"
							secondary-placeholder="+Video"
							md-on-remove="vm.deleteMultimedia($chip, 'youtube')"
						>
							<md-chip-template>
								<strong>{{$chip.youtubeID}}</strong>
							</md-chip-template>
						</md-chips>
					</md-input-container>

					<div  data-ng-repeat="video in newYoutubes">
						<md-input-container class="md-block">
							<label>YoutubeID</label>
							<input ng-model="video.youtubeID">
						</md-input-container>
					</div>
				</md-card-content>

				<md-card-actions>
					<md-button ng-click="addNewMultimedia('youtube')" type="button" class="md-raised md-primary">Añadir video</md-button>
				</md-card-actions>
			</md-card>
			<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
				<md-card-title>
					Tweets
				</md-card-title>
				<md-card-content>
					<md-input-container class="md-block" ng-if="tweets.length">
						<md-chips
							ng-model="tweets"
							readonly="vm.readonly"
							md-removable="true"
							md-item-text="item.tweetID"
							placeholder="Añadir tweet"
							delete-button-label="Eliminar tweet"
							delete-hint="Press delete to remove tag"
							secondary-placeholder="+Video"
							md-on-remove="vm.deleteMultimedia($chip, 'tweet')"
						>
							<md-chip-template>
								<strong>{{$chip.tweetID}}</strong>
							</md-chip-template>
						</md-chips>
					</md-input-container>

					<div  data-ng-repeat="tweet in newTweets">
						<md-input-container class="md-block">
							<label>tweetID</label>
							<input ng-model="tweet.tweetID">
						</md-input-container>
					</div>
				</md-card-content>

				<md-card-actions>
					<md-button ng-click="addNewMultimedia('tweet')" type="button" class="md-raised md-primary">Añadir tweet</md-button>
				</md-card-actions>
			</md-card>
			<div layout="row" layout-align="end end">
				<md-button type="submit" class="md-raised md-primary">Enviar</md-button>
			</div>
		</form>
	</div>
</md-content>

